.benefits_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 165px 0 190px 0;
}
.benefits_title {
  font-size: 40px;
  margin-bottom: 5px;
}
.benefits_subtitle {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 40px;
}
.benefits_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
}
.benefits_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
}
.benefits_items_title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.benefits_items_subtitle {
  text-align: center;
  font-size: 15px;
}
.icon_benefits_one::before {
  content: "";
  background-image: url(/image/Icon_benefits_one.png);
  width: 60px;
  height: 60px;
  margin-bottom: 27px;
}
.icon_benefits_two::before {
  content: "";
  background-image: url(/image/Icon_benefits_two.png);
  width: 60px;
  height: 60px;
  margin-bottom: 27px;
}
.icon_benefits_three::before {
  content: "";
  background-image: url(/image/Icon_benefits_three.png);
  width: 60px;
  height: 60px;
  margin-bottom: 27px;
}

