.footer {
  background-color: #1f4b43;
}
.footer_container {
  padding: 10px 120px 40px 120px;
}
.footer_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.footer_social_icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer_followus {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0 90px 10px 0;
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
}
.footer_social_icons img {
  width: 14px;
  height: 15px;
}
.footer_copyright {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}
