.house_offers_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.house_offers_list_apartment {
  position: relative;
  width: 446px;
  height: 446px;
  padding: 20px;
  align-items: end;
}
.house_offers_list_apartment img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
}
.list_data_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 20px;
  
  width: 406px;
  height: 140px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.title_data_info {
  font-size: 19px;
}
.list_data_container{
  display: flex;
  justify-content: space-between;
}
.list_data_characteristics{
  display: flex;
  justify-content: space-between;
}
.list_data_characteristics_item{
  width: 70px;
}
.list_data_characteristics_item:not(:last-child) {
  border-right: #000000 1px solid;
}
.for_sale::before {
  content: "FOR SALE";
  position: absolute;
  z-index: 1;
  background-color: #1f4b43;
  padding: 15px;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.for_rent::before {
  content: "FOR RENT";
  position: absolute;
  z-index: 1;
  background-color: #1f4b43;
  padding: 15px;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.featured::after {
  content: "FEATURED";
  position: absolute;
  background-color: #e7c873;
  padding: 15px;
  border-radius: 30px;
  left: 120px;
  font-size: 13px;
  font-weight: 500;
}

.house_offers_btn {
  display: flex;
  justify-content: space-between;
  width: 180px;
  background-color: #e7c873;
  padding: 20px 30px;
  border: none;
  border-radius: 40px;
}
