/*---------------------------------------------------HEADER-----------------------------------------------------------------*/
@import url("header.css");
@import url("hero.css");
@import url("benefits.css");
/*---------------------------------------------------MAIN-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}
body {
  margin: 0 auto;
}
a{
  color: black;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.button {
  font-size: 18px;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto";
  font-weight: 500;
}
.title {
  font-size: 40px;
  margin-bottom: 5px;
}
.subtitle {
  font-size: 17px;
  font-weight: 500;
}
